# Node
node_modules/
build/
npm-debug.log*

# Python
backend/.venv/
__pycache__/
*.pyc

# OS
.DS_Store

esm_model.ipynb

# Large / data / models
data/
*.npy
*.npy.gz
*.pt
*.pth
*.h5
*.dylib
*.so
*.whl
EOF